/*
 * Configuration file for using ALL samples in PopPUNK modeling
 * instead of subsampling representatives
 */

params {
    // Set this to true to use all samples for PopPUNK modeling
    use_all_samples = true
    
    // Note: When use_all_samples is true, MASH distance calculation is skipped
    // since it's only used for subsampling. This can save significant computation time.
}

// You may want to increase memory and CPU resources when using all samples
// as PopPUNK will need to process more genomes
process {
    withName: 'POPPUNK_MODEL' {
        memory = '64 GB'
        cpus = 16
    }
    
    withName: 'POPPUNK_ASSIGN' {
        memory = '32 GB'
        cpus = 8
    }
}